* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    /* Previene el desbordamiento horizontal */
    background-color: #ffff;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        /* Inicia fuera de la pantalla */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Llega a su posición final */
    }
}

header {
    position: fixed;
    /* Fija el header en su posición */
    top: 0;
    /* Lo coloca en la parte superior de la ventana */
    left: 0;
    width: 100%;
    /* Asegura que ocupe todo el ancho de la pantalla */
    z-index: 10;
    /* Garantiza que esté por encima de otros elementos */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: #003467fa;
}

/*Este es el div que esta la izquerda con el logo e icono de tibsa*/
.logo-header {
    display: flex;
    /* Activa Flexbox */
    align-items: center;
    /* Centrado vertical */
    justify-content: center;
    /* Centrado horizontal */
    width: 30%;
    min-width: 230px;
    max-width: 30vh;
    height: 100%;
    background: linear-gradient(to right, #00274df5, 70%, #003467ea);
    /* background-color: #00274d;*/
}

.logo {
    max-width: 6.5rem;
    margin: 0.3rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    /* Sombra que respeta la forma */
}

.logo-icon {
    max-width: 4rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    /* Sombra que respeta la forma */
}

.nav {
    margin: 0 auto;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    /* Espaciado uniforme */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten a múltiples líneas si es necesario */
    gap: 1.5rem;
}

.nav-list li {
    flex: 1 1 auto;
    /* Los elementos se adaptan proporcionalmente */
    text-align: left;
    /* Centra el texto en cada elemento */
}

.nav-list li a {
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    position: relative;
    transition: color 0.3s ease;
    /* Transición suave */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Sombra negra difusa */
}

.nav-list li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s ease;
}

.nav-list li a:hover::after {
    width: 100%;
    /* Línea aparece al pasar el cursor */
}

.nav-list li a i {
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-list li a:hover i {
    opacity: 1;
    transform: translateX(0);
}

/* es para que no se muestre el boton mas que en mobile*/
.abrir-menu,
.logo-nav,
.cerrar-menu {
    display: none;
}

.INICIO {
    display: flex;
    margin-top: 5%;
    height: 80%;
    width: 100%;
}

.parteIzqInicio {
    width: 50%;
}

.div-vison-mision {
    display: flex;
}

.div-mision,
.div-vision {
    width: 50%;
    padding: 2rem;
    text-align: center;
}

.div-carusel {
    width: 50%;
}

.carousel-inner img {
    height: 80vh;
    /* Limita la altura a 50% del viewport */
    object-fit: cover;
    /* Asegura que las imágenes se ajusten sin deformarse */
}


.carousel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribuye el espacio verticalmente */
    padding: 20px;
}

.icono-carrusel-img-1 {
    position: absolute;
    top: 5%;
    /* Ajusta para que esté dentro de la imagen */
    left: 15%;
    /* Centra el icono horizontalmente */
    font-size: 100px;
    /* Tamaño adecuado para el icono */
    color: white;
    /* Asegura que el icono sea visible */
    animation: slideDown 1s ease-in-out;
    /* Aplica la animación */
}

.Titulo-carrusel-img-1 {
    position: absolute;
    top: 25%;
    left: 15%;
    font-weight: bold;
    color: white;
    /* Asegura que el texto sea visible */
    animation: slideDown 1s ease-in-out;
    /* Aplica la animación */
}

.Texto-carrusel-img-1 {
    position: absolute;
    top: 35%;
    left: 15%;
    max-width: 50%;
    text-align: justify;
    color: white;
    /* Asegura que el texto sea visible */
    animation: slideDown 1s ease-in-out;
    /* Aplica la animación */
}

/*Esto es lo que susede cuando ya estas en modo mobile*/
@media screen and (max-width:940px) {

    .carousel-inner img {
        height: 50vh;
        /* Limita la altura a 50% del viewport */
    }

    .carousel-indicators {
        z-index: 1;
        /* Menor que el z-index del menú (1050) */
    }

    .cerrar-menu,
    .abrir-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: white;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    }

    .abrir-menu {
        padding: 2rem;
    }

    .divLogo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* Usa space-between para poner el logo y la X a los extremos */
        gap: 1rem;
        /* Ajusta el espacio entre los elementos */
        background-color: #25323f;
        /* Color de fondo */
        height: 13%;
        /* Esto hace que ocupe el 30% de la altura del contenedor .nav */
        width: 100%;
        /* Hace que ocupe todo el ancho del contenedor */
        padding: 1rem;
        /* Espaciado interno */
    }

    /*Este es el div que esta la izquerda con el logo e icono de tibsa*/
    .logo-header {
        min-width: 250px;
        max-width: 250px;
        width: 40%;
    }

    .logo-nav {
        display: block;
        max-width: 5rem;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.8));
    }

    .nav {
        overflow-y: auto;
        /* Permite desplazamiento vertical */
        overflow-x: hidden;
        /* Previene desplazamiento horizontal */
        max-height: 100vh;
        /* Limita la altura al tamaño de la ventana */
        padding-bottom: 1rem;
        /* Añade espacio al final */
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 55%;
        background-color: #3b5065;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .8);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        z-index: 100;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-list {
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .nav-list li {
        width: 100%;
        border-bottom: 1px solid white;
        padding: 8px 0;
    }

    .nav-list li a {
        display: flex;
        font-weight: normal;
        /* Habilita el modelo de caja flexible */
        justify-content: space-between;
        /* Separa el texto y el ícono */
        align-items: center;
        /* Alinea verticalmente el texto y el ícono */
        color: white;
        width: 100%;
        /* Asegura que ocupe todo el ancho del contenedor */
    }

    .nav-list li a:hover {
        color: #990000;
    }

    .nav-list li a i {
        opacity: 1;
        transform: translateX(0);
        margin-left: 8px;
        /* Espacio entre el texto y el ícono */
        font-size: 1.5rem;
        /* Ajusta el tamaño del ícono si es necesario */
        display: inline-block;
        /* O inline, según cómo quieras que se muestre el icono */
        justify-content: space-between;
        /* Si deseas separar el icono del texto */
    }

    .nav-list li a::after {
        content: none;
        /* Elimina el subrayado animado */
    }

}