.footer {
    display: flex;
    flex-wrap: wrap;
    /* Añadir para que los elementos se ajusten al tamaño de la pantalla */
    width: 100%;
    min-height: 400px;
    background: linear-gradient(135deg, #001a33, #000e1d);
}

.container-footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #001a33, #000e1d);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #001a33, #000e1d);
}

.logos-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    min-width: 339px;
    gap: 20px;
    margin: 20px;
    /* Añadir espacio al fondo en pantallas pequeñas */
}

.menu-footer {
    justify-content: center;
    display: flex;
    margin: 30px;
    height: 100%;
    width: 80%;
    gap: 30px;
    flex-wrap: wrap;
    /* Permitirá que los elementos se acomoden en pantallas pequeñas */
}

.txt-footer {
    width: 230px;
    color: white;
    line-height: 1.5;
}

.txt-footer p {
    font-size: 0.9rem;
}

.txt-footer a {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 10px;
    padding-left: 20px;
}

.txt-simple-acomodado {
    padding-left: 20px;
}

.redes-footer a {
    margin-right: 15px;
    /* Espacio entre los iconos */
}

.redes-footer i {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 950px) {

    footer {
        flex-direction: column;
        /* Cambiar a columna en pantallas pequeñas */
    }
}
