* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica";
}

html,
body {
    overflow-x: hidden;
    /* Previene el desbordamiento horizontal */
    background-color: whitesmoke;
    scroll-behavior: smooth;
    
}
