* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

html,
body {
    overflow-x: hidden;
    /* Previene el desbordamiento horizontal */
    background-color: whitesmoke;
    scroll-behavior: smooth;

}


h1 {
    font-size: 2.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 1px;
    /* Más separación entre letras */
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
}

p {
    font-size: 1.2rem;
}


@media screen and (max-width:550px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

}