.INICIO {
    display: flex;
    flex-direction: column;
    height: 1200px;
    width: 100%;
}

/* Contenedor principal */
.top-inicio {
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

/* Imagen de fondo */
.top-inicio img {
    width: 100%;
    height: 1080px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.85);
    /* Oscurece un poco para mejorar la visibilidad del texto */
    z-index: 0;
}

/* Degradado superpuesto */
.top-inicio::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00274de5, #003f7e00);
    z-index: 1;
}

/* Texto superpuesto */
.texto-inicio {
    position: absolute;
    top: 35%;
    left: 5%;
    color: white;
    font-family: "Helvetica", sans-serif;
    text-align: left;
    z-index: 2;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    /* Sombra más oscura para contraste */
    animation: slideDown 1s ease-in-out;
}

/* Título principal */
.texto-inicio h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px;
}

/* Descripción */
.texto-inicio p {
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.6;
}

.btn-ver-mas-inicio{
    background-color: rgb(255, 254, 254);
    align-items: center;
    width: 20%;
    border-radius: 20px;
}

.btn-ver-mas-inicio p {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 100px;
    line-height: 1.6;

}

.btn-ver-mas-inicio p:hover{
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}



.div-mision-vison {
    display: flex;
    background-color: #000e1dec;
}

.mision,
.vision {
    background-color: #001325ec;
    font-weight: bold;
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.icons-inicio {
    font-size: 100px;
}